#add-review-background {
  background-color: #78babccc;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
  justify-content: center;
}

#add-review-input {
  margin: 10px 0;
  width: calc(100% - 20px);
  margin-left: 10px;
  max-width: calc(100vw - 40px);
  padding: 6px 10px;
  font-size: 16px;
  border-width: 2px;
  border-radius: 12px;
  box-sizing: border-box;
}

#cancel-post {
  margin-left: 20px;
}

.label-container {
  text-align: left;
  max-width: 150px;
  flex: 0 0 150px;
}

#reviewer-name-cont,
#reviewer-rating-cont,
#reviewer-review-cont {
  display: flex;
  align-items: center;
}

#reviewer-name,
#reviewer-rating {
  flex: 1;
  margin: 10px 0;
  max-width: 120px;
  width: 100%;
  padding: 4px 8px;
  font-size: 14px;
  border-width: 1px;
  border-radius: 10px;
}

#reviewer-review {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
}
