.dashboardCard {
  margin: 20px;
  padding: 20px;
}

.subtitle {
  text-decoration: underline;
}

.craftList.dashboardList {
  display: grid;
  gap: 20px;
  margin: 20px;
  padding-left: 0;
  justify-content: center;
}
