body {
  margin: 0;
  padding: 0;
  background-color: #a1d6e2;
  color: #333;
  font-family: "Wellfleet", serif;
  font-weight: 400;
}

input,
button {
  font-family: "Wellfleet", serif;
  font-weight: 400;
}

.featured-craft-title,
#types-title,
#craftName,
#resultName,
.details-section-title,
.craft-month-title {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.featured-craft-title,
#types-title {
  font-size: 40px;
}

/* Craft types section and carousel */

#blank {
  background-color: #a1d6e2;
  box-shadow: none;
  cursor: default;
}

/* results section */

.resultBackground {
  background-color: #f1f1f2;
  border-radius: 25px;
  padding: 10px;
  min-height: 350px;
  width: 290px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.resultName {
  font-size: 20px;
}

#tagline,
#result-difficulty {
  font-size: 12px;
  margin: 10px;
}

.result-item {
  justify-content: center;
  align-items: center;
}

#resultImg {
  max-width: 175px;
  width: 100%;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
}

.craftList {
  display: grid;
  gap: 20px;
  margin: 20px;
  padding-left: 0;
}

@media (min-width: 1200px) {
  .craftList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .craftList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .craftList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .craftList {
    grid-template-columns: 1fr;
  }
}

#craftHeader {
  text-decoration: underline;
}

/* hidden section */
.hidden,
.hidden-always {
  display: none;
}
