body {
  margin: 0;
  padding: 0;
  background-color: #a1d6e2;
  color: #333;
  font-family: "Wellfleet", serif;
  font-weight: 400;
}

input,
button {
  font-family: "Wellfleet", serif;
  font-weight: 400;
}

.featured-craft-title,
#types-title,
#craftName,
#resultName,
.details-section-title,
.craft-month-title {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.featured-craft-title,
#types-title {
  font-size: 40px;
}

/* Craft types section and carousel */

#blank {
  background-color: #a1d6e2;
  box-shadow: none;
  cursor: default;
}

/* hidden section */
.hidden,
.hidden-always {
  display: none;
}
